<div class="panel panel-default">
 <div class="panel-heading">Adding an attribute detail</div>
  <div class="panel-body">
<%= render 'form' %>
<%= link_to 'Back', item_attribute_details_path %>
</div>
</div>
</div>
