<div class="panel panel-default">
 <div class="panel-heading">Sale</div>
  <div class="panel-body">
<%= render 'form' %>
</div>
  <div class="panel-body">
    <%=render 'sale_details'%>
  </div>
</div>
</div>