<div class="panel panel-default">
  <div class="panel-heading">Editing product <%=@item.item_name%></div>
  <div class="panel-body">
<%=render "layouts/additional_links" %>
<%= render 'form' %>
  </div>
</div>